*{
    box-sizing: border-box;
}
header{
    background-color: whitesmoke;
    width:100%;
    position:fixed;
    top: 0;
    left:0;
    height: 110px;
    z-index: 3;    
}
.portHead{
    float:left;
    width: 50%;
}
nav{
    float:right;
    width:50%;
}
footer{
    text-align: center;
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    background-color: lightgrey;
    z-index:3;
}
body{
    background:Linear-gradient(rgb(75, 111, 145),lightgrey);
    font-size:24px;
    font-family: 'Courier New', Courier, monospace;
}
button{
    background-color: whitesmoke;
    width:100px;
    margin-right: 50px;
    height: 100px;
    border:ivory;
    margin-top:5px;
    text-align:center;
    font-size:20px; 
    float:right;
          
}
button:hover{
    background-color:lightblue;
    font-size: 24px;
}
img{
    float:left;
    margin-top: 20px;
    margin-right: 30px;
    margin-bottom:20px;
    border:1px lightblue;
}
h1{
    margin-left:120px;
    margin-right: 350px;
    margin-top:0;
    width:300px;
    height:50px;
    padding-top:0;
    padding-bottom:25px;
    float:left; 
    text-align: center;      
}
.content{
    margin: 125px auto;
    width:960px;
    background-color:whitesmoke;
    padding: 30px 30px;
    overflow: auto;   
}
p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
h3{
    position: absolute;
    
}
.projectHead{
    border-bottom: groove 1px black;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bolder;
}
.aboutHead{
    border-bottom: groove 1px black;
    margin-bottom: 10px;
    font-weight: bolder
    
}
input{
    border: 1px solid black;
}
#messageBox{
    width: 99%;
    Height: 200px;
    Font-size: 20px;
    border: 1px solid black;
}
.project{
    position:relative;
    margin:0 auto;
    display:inline-block;
        
}
.Text{
    position: absolute;
    margin:0;
    left:0;
    right:0;
    top:20px;
    font-size:18px;
    background-color:aqua; 
    z-index: 2;
    width:91%;
    height:50px;
   }

@media only screen and (max-width: 960px){
    .content{
        width:100%
        
    }
    h1{
        margin-left:0;
    }
    button{
        height:fit-content;
        width:fit-content;
    }
    nav{
        width: 25%;
    }
    .portHead{
        width: 75%;
    }
 
    
}
